language: python
python: 2.7
env:
- TOXENV=py26
- TOXENV=py27
- TOXENV=py34
install:
- pip install tox --use-mirrors
- pip install -r requirements.txt --use-mirrors
- pip install -r test-requirements.txt --use-mirrors
- pip install coveralls --use-mirrors
before_script:
- mkdir -p log
script:
- tox
after_script:
- rm -rf log
after_success:
- coveralls
branches:
  only:
    - master
